@font-face {
	font-family: mexican-fiesta;
	src: url(fonts/mexican-fiesta.ttf) format("truetype");
}

@font-face {
	font-family: Carme;
	src: url(fonts/Carme-Regular.ttf) format("truetype");
}

* {
	font-family: Carme, Arial, sans-serif;
	color: #405040;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a:hover {
	text-decoration: underline;
}

a {
	text-decoration: none;
}

body {
	background-color: #F0FFF0;
	margin: 0px;
}

h2, h3, p, ol, ul {
	padding: 15px;
}

h2, h3 {
	padding-bottom: 5px;
}

ul.content, ol.content {
	padding-left: 100px;
	padding-top: 5px;
}

.alt-container {
	background-color: #E9F9E9;
}

.center {
text-align: center;
}

.heading {
	font-weight: 1000;
}

.title {
	padding-bottom: 20px;
	font-size: 72px;
	font-family: mexican-fiesta, Arial, sans-serif;
}

.title.center, .imgback {
	background-color: #405040;
	color: #F0FFF0;
}

#navigation-bar {
	padding-top: 100px;
padding-bottom: 100px;
	font-family: mexican-fiesta, Arial, sans-serif;
	font-size: 36px;
}

#navigation-bar a {
	font-family: inherit;
	font-size: inherit;
}

#recipe-list {
	font-size: 36px;
	list-style: none;
}
